{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<div class="bg-grey-lighter min-h-screen flex flex-col bg-gray-100">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center font-extrabold">Registreren</h1>

            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.username) }}
                {{ form_row(form.plainPassword, {
                    label: 'Password'
                }) }}

                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Register</button>
            {{ form_end(form) }}

        </div>

        <div class="text-grey-dark mt-6">
            Heeft u al een account?
            <a class="no-underline border-b border-blue text-blue-700 hover:text-blue-900" href="{{ path('app_security_login') }}">
                Inloggen!
            </a>.
        </div>
    </div>
</div>
{% endblock %}
