{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col w-1/2 mx-auto pt-8">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="flex pb-4">
                    <h2 class="flex-1 text-xl font-semibold">Contacten</h2>
                    <div class="ml-auto">
                        <a href="{{ path('app_contact_new') }}"
                           class="btn bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded">
                            <i class="fas fa-plus mr-2"></i>Contact toevoegen
                        </a>
                    </div>
                </div>
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Aanhef
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Contact e-mailadres
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                &nbsp;
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            {% for contact in contacts %}
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{ contact.salutation }}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{ contact.email }}
                                    </td>
                                    <td>
                                        <div class="flex justify-end">
                                            <a href="{{ path('app_contact_edit', {
                                                contact: contact.id
                                            }) }}" class="mr-2">
                                                <i class="fas fa-edit hover:text-green-500"></i>
                                            </a>
                                            <a href="{{ path('app_contact_delete', {
                                                contact: contact.id
                                            }) }}" class="mr-2" onclick="return confirm('Wilt u het echt verwijderen?')">
                                                <i class="fas fa-trash hover:text-red-500"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            {% else %}
                                <div class="flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3" role="alert">
                                    <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
                                    <p>Er zijn geen contacten ingesteld.</p>
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="navigation flex justify-end pt-4">
                    {{ knp_pagination_render(contacts) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}